In [1]:
import numpy as np
from scipy import spatial
from geopy.distance import great_circle
from utilities import import_export
from mpl_toolkits.basemap import Basemap
import pandas as pd

In [2]:
df = import_export.import_catalog(location='/home/max/research/kumamoto/data/ccu.dat', delimiter='\t', names=['lon', 'lat', 'decimal_year', 'month', 'day', 'mag'
                                                        , 'depth', 'hour', 'minute', 'second', 'horizontal_error'
                                                        , 'depth_error', 'mag_err'])

In [3]:
m = Basemap(projection='merc')

In [4]:
x, y = m(df['lon'].values, df['lat'].values)

In [5]:
df['x'], df['y'] = x, y

In [6]:
df['depth'] = df['depth'] * 1000.

In [7]:
df.head(1)

,lon,lat,decimal_year,month,day,mag,depth,hour,minute,second,horizontal_error,depth_error,mag_err,x,y
timestamp,,,,,,,,,,,,,,,
1989-12-31 15:12:50.899987,139.963333,37.326667,1989.998997,12.0,31.0,1.9,6400.0,15.0,12.0,50.900002,1.752955,3.7,NaN,3.557828e+07,6.402652e+07

In [8]:
ax, ay = m(132, 30)
az = 0
a = [132, 30, ax, ay, az]
a = pd.DataFrame([a], columns=['lon', 'lat', 'x', 'y', 'depth'])
b = df[['lat', 'lon', 'x', 'y', 'depth']].head(1)

In [62]:
def cartesian_distance_between_two_cartesian_vectors(vector_a, vector_b):
    """
    Calculates cartesian distance between two 3d points
    
    assumes xy values are in meters
    """    
    va = vector_a[['x', 'y', 'depth']].values
    vb = vector_b[['x', 'y', 'depth']].values
    
    dist = spatial.distance.cdist(va, vb)
    return dist[0][0]

In [64]:
a

   lon  lat             x             y  depth
0  132   30  3.469280e+07  6.304643e+07      0

In [65]:
b

,lat,lon,x,y,depth
timestamp,,,,,
1989-12-31 15:12:50.899987,37.326667,139.963333,3.557828e+07,6.402652e+07,6400.0

In [66]:
cartesian_distance_between_two_cartesian_vectors(vector_a=a, vector_b=b)

1320869.232200433

In [70]:
df.head(1)[['lon', 'lat']]

                                   lon        lat
timestamp
1989-12-31 15:12:50.899987  139.963333  37.326667

In [125]:
def _cylinder_cartesian_distance_between_two_coordinates(coordinate_a, coordinate_b):
    """
    calculates distance between two lat/lon coordinates
    
    does not use depth in calculation
    """
#     # TODO: lets maintain the vector format shall we?
#     lon_a, lat_a = coordinate_a[['lon', 'lat']]
#     lon_b, lat_b = coordinate_b
    
    lon_a, lat_a = coordinate_a.lon.values[0], coordinate_a.lat.values[0]
    lon_b, lat_b = coordinate_b.lon.values[0], coordinate_b.lat.values[0]
    
    # TODO: account for international dateline
    lat_diff = lat_a - lat_b
    lon_diff = lon_a - lon_b
    
    # TODO: convert to kilometers
    lat_km = 111.19 * 1e3 * lat_diff

    lat_radians = np.deg2rad(lat_a)
    
    # TODO: convert to kilometers
    lon_km = 111.19 * 1e3 * lon_diff * np.cos(lat_radians)
    
    # TODO: what's going on here?
    x, y = np.array([lon_km, lat_km])
    
    return np.sqrt(x ** 2 + y ** 2)

def _sphere_cartesian_distance_between_two_coordinates(coordinate_a, coordinate_b):
    """
    calculates distance between two lat/lon coordinates
    
    does not use depth in calculation
    """
    lon_a, lat_a = coordinate_a.lon.values[0], coordinate_a.lat.values[0]
    lon_b, lat_b = coordinate_b.lon.values[0], coordinate_b.lat.values[0]
    depth_a, depth_b = coordinate_a.depth.values[0], coordinate_b.depth.values[0]

    # TODO: convert to list type point a and point b
    # TODO: account for international dateline
    lat_diff = lat_a - lat_b
    lon_diff = lon_a - lon_b
    depth_diff = depth_a - depth_b
    
    # TODO: convert to kilometers
    lat_km = 111.19 * 1e3 * lat_diff

    lat_radians = np.deg2rad(lat_a)
    
    lon_km = 111.19 * 1e3 * lon_diff * np.cos(lat_radians)
    
    # TODO: what's going on here?
    x, y = np.array([lon_km, lat_km])
    
    return np.sqrt(x ** 2 + y ** 2 + depth_diff ** 2)

def cartesian_distance_between_two_coordinates(coordinate_a, coordinate_b, shape='cylinder'):
    dist_func = {'cylinder': _cylinder_cartesian_distance_between_two_coordinates
                ,'sphere': _sphere_cartesian_distance_between_two_coordinates}
    
    return dist_func[shape](coordinate_a, coordinate_b)

In [126]:
a

   lon  lat             x             y  depth
0  132   30  3.469280e+07  6.304643e+07      0

In [127]:
b

,lat,lon,x,y,depth
timestamp,,,,,
1989-12-31 15:12:50.899987,37.326667,139.963333,3.557828e+07,6.402652e+07,6400.0

In [128]:
cartesian_distance_between_two_coordinates(a, b)

1118778.3626994276

In [129]:
cartesian_distance_between_two_coordinates(a, b, shape='sphere')

1118796.6682308328

In [89]:
a.lon.values[0] - b.lon.values[0]

-7.9633330000000058

In [12]:
def great_circle_distance_between_two_coordinates(coordinate_a, coordinate_b, **kwargs):
    """
    calculates the great circle distance between two coordinate points

    :param coordinate_a:
    :type coordinate_a:
    :param coordinate_b:
    :type coordinate_b:
    :return:
    :rtype:
    """
    ca = coordinate_a[['lat', 'lon']].values[0]
    cb = coordinate_b[['lat', 'lon']].values[0]
    print(ca)
    print(cb)
    return great_circle(ca, cb, **kwargs).meters

In [13]:
a[['lat', 'lon']].values[0]

array([ 30, 132])

In [14]:
great_circle_distance_between_two_coordinates(a, b)

[ 30 132]
[  37.326667  139.963333]

1097980.59376895

In [142]:
a

   lon  lat             x             y  depth
0  132   30  3.469280e+07  6.304643e+07      0

In [143]:
b

,lat,lon,x,y,depth
timestamp,,,,,
1989-12-31 15:12:50.899987,37.326667,139.963333,3.557828e+07,6.402652e+07,6400.0